<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin panel</title>

</head>
<body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<nav class="navbar navbar-dark bg-dark">
    <h4 class="text-light" id="adminNavPanel">Admin with roles</h4>
    <a class="text-light" href="/logout">Logout</a>
</nav>

<div class="container-fluid" style="padding-left: 0; padding-top: 0">
    <div class="row">
        <div class="col-2" style="padding-top: 10px; padding-right: 0">
            <div class="nav flex-column nav-pills" id="pillsNav" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="pillsAdmin" data-toggle="pill" href="#pillsHome" role="tab"
                   aria-controls="pillsHome" aria-selected="true">Admin</a>
                <a class="nav-link" id="pillsUser" data-toggle="pill" href="#pillsProfile" role="tab"
                   aria-controls="pillsProfile" aria-selected="false">User</a>
            </div>
        </div>
        <div class="col-10" style="padding-top: 15px; background: whitesmoke; min-height: 100vh;">
            <div class="tab-content" id="tabContent">
                <div class="tab-pane fade show active" id="pillsHome" role="tabpanel" aria-labelledby="pillsAdmin">
                    <div class="col-10">
                        <div class="row">
                            <div class="col-12"><p class="h1">Admin panel</p></div>
                        </div>
                        <div class="row">
                            <div class="col-12" style="border: 5px">
                                <ul class="nav nav-tabs" id="tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="usersTableTable" data-toggle="tab"
                                           href="#usersTable" role="tab" aria-controls="usersTable"
                                           aria-selected="true">Users table</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="newUserTable" data-toggle="tab" href="#newUser"
                                           role="tab"
                                           aria-controls="newUser" aria-selected="false">New User</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="NewTabContent">
                                    <div class="tab-pane fade show active" id="usersTable" role="tabpanel"
                                         aria-labelledby="usersTableTable">
                                        <div class="row"
                                             style="background: whitesmoke; border: 0 solid floralwhite; margin-right: 0; margin-left: 0;">
                                            <p class="h4"
                                               style="margin-left: 15px;margin-top: 15px;margin-bottom: 15px;">All
                                                users</p>
                                        </div>
                                        <div class="row"
                                             style="border: 0 solid floralwhite;margin-right: 0; margin-left: 0; background: white">
                                            <table class="table table-striped" style="margin: 25px;">
                                                <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">First name</th>
                                                    <th scope="col">Last name</th>
                                                    <th scope="col">Age</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Role</th>
                                                    <th scope="col">Edit</th>
                                                    <th scope="col">Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody id="allUsers">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="newUser" aria-labelledby="newUserTable">
                                        <div class="container-fluid" style="padding-right: 0; padding-left: 0">
                                            <div class="row"
                                                 style="background: whitesmoke; border: 2px solid whitesmoke; margin-right: 0; margin-left: 0;">
                                                <p class="h4"
                                                   style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px;">Add
                                                    new user</p>
                                            </div>
                                            <div class="row justify-content-center"
                                                 style="border: 2px solid whitesmoke;margin-right: 0; margin-left: 0; background: white">
                                                <div class="col-4" style="text-align: center;">
                                                    <form id="newUserForm">
                                                        <div class="form-group">
                                                            <label for="InputFirstName">First Name</label>
                                                            <input type="text" class="form-control" id="InputFirstName"
                                                                   placeholder="Enter first name" name="name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="InputLastName">Last Name</label>
                                                            <input type="text" class="form-control" id="InputLastName"
                                                                   placeholder="Enter last name" name="lastName">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="InputAge">Age</label>
                                                            <input type="text" class="form-control" id="InputAge"
                                                                   placeholder="Enter age" name="age">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="InputEmail">Email</label>
                                                            <input type="email" class="form-control" id="InputEmail"
                                                                   placeholder="Enter email" name="email">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="InputPassword">Password</label>
                                                            <input type="password" class="form-control"
                                                                   id="InputPassword" placeholder="Password"
                                                                   name="password">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="InputRole">Role</label>
                                                            <select multiple class="form-control" id="InputRole"
                                                                    name="roles">
                                                                <option>ROLE_ADMIN</option>
                                                                <option>ROLE_USER</option>
                                                            </select>
                                                        </div>
                                                        <div style="padding-bottom: 1px; background: white">
                                                            <button class="btn btn-success" type="submit" id="addUser">
                                                                Add new user
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pillsProfile" role="tabpanel" aria-labelledby="pillsUser">
                    <div class="col-10">
                        <div class="row">
                            <div class="col-12"><p class="h1">User information-page</p></div>
                        </div>
                        <div class="row"
                             style="background: white;border: 2px solid white;margin-right: 0; margin-left: 0;">
                            <p class="h4" style="margin-left: 10px;margin-top: 10px;margin-bottom: 10px;">About user</p>
                        </div>
                        <div class="row"
                             style="border: 2px solid white;margin-right: 0; margin-left: 0; background: white">
                            <table class="table table-striped" style="margin: 25px;">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First name</th>
                                    <th scope="col">Last name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody id="currentUser">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalEditUser" tabindex="-1" role="dialog" aria-labelledby="ModalCentral" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-tittle" id="UpperUserModal">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="modalEditUserForm">
                    <div class="form-group">
                        <label for="ModalInputId">ID</label>
                        <input type="text" class="form-control" id="ModalInputId" value="0" name="id" readonly>
                    </div>
                    <div class="form-group">
                        <label for="ModalInputFirstName">First Name</label>
                        <input type="text" class="form-control" id="ModalInputFirstName" value="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="ModalInputLastName">Last Name</label>
                        <input type="text" class="form-control" id="ModalInputLastName" value="last name"
                               name="lastName">
                    </div>
                    <div class="form-group">
                        <label for="ModalInputAge">Age</label>
                        <input type="text" class="form-control" id="ModalInputAge" value=1 name="age">
                    </div>
                    <div class="form-group">
                        <label for="ModalInputEmail">Email</label>
                        <input type="email" class="form-control" id="ModalInputEmail" value="email@email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="ModalInputPassword">Password</label>
                        <input type="password" class="form-control" id="ModalInputPassword" name="password">
                    </div>
                    <div class="form-group">
                        <label for="ModalInputRole">Role</label>
                        <select multiple class="form-control" id="ModalInputRole">
                            <option value="ROLE_ADMIN">ADMIN</option>
                            <option value="ROLE_USER">USER</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="saveEditUser" class="btn btn-info" data-dismiss="modal">Edit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalDeleteUserCentral" tabindex="-1" role="dialog" aria-labelledby="ModalCentral"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModal">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="ModalDeleteUserForm">
                    <div class="form-group">
                        <label for="ModalIdDelete">ID</label>
                        <input type="text" class="form-control" id="ModalIdDelete" value=1 readonly>
                    </div>
                    <div class="form-group">
                        <label for="ModalFirstNameDelete">First Name</label>
                        <input type="text" class="form-control" id="ModalFirstNameDelete" value="name" readonly>
                    </div>
                    <div class="form-group">
                        <label for="ModalLastNameDelete">Last Name</label>
                        <input type="text" class="form-control" id="ModalLastNameDelete" value="last name" readonly>
                    </div>
                    <div class="form-group">
                        <label for="ModalAgeDelete">Age</label>
                        <input type="text" class="form-control" id="ModalAgeDelete" value=1 readonly>
                    </div>
                    <div class="form-group">
                        <label for="ModalEmailDelete">Email</label>
                        <input type="email" class="form-control" id="ModalEmailDelete" value="email@email" readonly>
                    </div>
                    <div class="form-group">
                        <label for="ModalRoleDelete">Role</label>
                        <select multiple class="form-control" id="ModalRoleDelete" disabled>
                            <option>ADMIN</option>
                            <option>USER</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="confirmDeleteUser" class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/admin.js"></script>
</body>
</html>