<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>

<body>
<h3> Edit User</h3>
<form th:method="post" th:action="@{/admin/{id}(id=${user.getId})}" th:object="${user}">
    <div>
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Name" />
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    </div>
    <div>
        <label for="age">Age</label>
        <input type="text" th:field="*{age}" id="age" placeholder="Age" />
        <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email" placeholder="Email" />
        <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    </div>
    <div>
        <label for="roles">Roles:</label>
        <div th:each="role : ${allRoles}">
            <input type="checkbox" th:field="*{roles}" th:value="${role.id}" th:text="${role.role}" id="roles" placeholder="Roles" />
        </div>
    </div>
    <input type="submit" value=" Submit ">
    <input type="hidden" th:field="*{id}">
</form>
</body>
</html>