<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<h3> Add User</h3>
<form action="#" th:action="@{/admin/createUser}" th:object="${user}" method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Name" />
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
        <div style="color: red" th:text="${NameError}">userNameError</div>
        <br>
    </div>
    <div>
        <label for="age">Age</label>
        <input type="text" th:field="*{age}" id="age" placeholder="Age" />
        <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email" placeholder="Email" />
        <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" th:field="*{password}" id="password" placeholder="Password" />
        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    </div>
    <div>
        <label for="roles">Roles:</label>
        <div>
            <input type="checkbox" th:each="role : ${allRoles}" th:text="${role.role}" th:value="${role.id}" th:field="*{roles}" id="roles" placeholder="Roles" />
            <div style="color: red" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Roles error</div>
        </div>
    </div>
    <input type="submit" value=" Submit ">
</form>
</body>
</html>