<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
Register page
<form th:action="@{/}" th:object="${user}" method="post">
    <label for="name">Name</label>
    <input name="name" type="text" id="name">
    <br>
    <label for="age">Age</label>
    <input name="age" type="text" id="age">
    <br>
    <label for="email">Email</label>
    <input name="email" type="text" id="email">
    <br>
    <label for="password">Password</label>
    <input name="password" type="password" id="password">
    <br>
    <button type="submit">Create user</button>
</form>
<p></p>
<a href="/logout">Logout</a>
</body>
</html>