<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>User page</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-dark bg-dark">
    <h3 class="text-light" id="userWithRoles">Users with roles</h3>
    <a class="text-light" href="/logout">Logout</a>
</nav>

<div class="container-fluid" style="padding-left: 0; padding-top: 0">
    <div class="row">
        <div class="col-2" style="padding-top: 15px; padding-right: 0;">
            <div class="nav flex-column nav-pills" id="pillsTab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="mainTab" data-toggle="pill" href="#mainTab" role="tab" aria-controls="mainTab" aria-selected="true">User</a>
            </div>
        </div>

        <div class="col-10" style="padding-top: 15px; background: white; min-height: 100vh;">
            <div class="col-10">
                <div class="row">
                    <div class="col-12"><p class="h1">User information-page</p></div>
                </div>
                <div class="row" style="background: white;border: 2px solid white;margin-right: 0; margin-left: 0;">
                    <p class="h4" style="margin-left: 10px;margin-top: 10px;margin-bottom: 10px;">About user</p>
                </div>
                <div class="row" style="border: 2px solid white;margin-right: 0; margin-left: 0; background: white">
                    <table class="table table-striped" style="margin: 25px;">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Address</th>
                            <th scope="col">Weather</th>
                            <th scope="col">Roles</th>
                        </tr>
                        </thead>
                        <tbody id="currentUser">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/user.js"></script>
</body>
</html>