!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User form</title>
</head>
<body>
<h1>User form</h1>

<form action="#" th:action="@{/add}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p>Age: <input type="text" th:field="*{age}" min="1" max="100"/></p>
    <p>Email: <input type="text" th:field="*{email}"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>

<a href="/">Back</a>

</body>
</html>